* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
}

header {
	width: 100%;
}

.dark-block {
	width: 100%;
	background-color: #030303;
}

.container {
	position: relative;
}

.gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, #030303 0%, transparent 5%, transparent 95%, #030303 100%);
}

.contacts {
	padding: 20px 50px;
}

.contacts__phones,
.contacts__links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.contacts__phones a {
	color: #fff;
	font-weight: 500;
	font-size: 50px;
}

.contacts__phones a i {
	color: #6ED806;
	font-size: 40px;
}

.contacts__links a {
	color: #fff;
	font-size: 40px;
}

.contacts__links a:hover {
	text-decoration: underline;
}

.contacts__links_green {
	color: #6ED806 !important;
}

.contacts__links_green:hover {
	color: #6ED806;
}

.mb-150 {
	margin-bottom: 150px;
}

.number a {
	color: #6ED806;
	font-weight: 500;
	font-size: 96px;
}

.number a i {
	font-size: 80px;
}

.feedback {
	background: linear-gradient(to right, #6ED806,#7BB719);
	padding: 90px 0;
}

.feedback h2 {
	font-weight: bold;
	font-size: 56px;
}

.feedback_dark {
	background: #030303;
}

.feedback_dark h2 {
	color: #fff;
}

.feedback_dark .feedback__form button {
	background-color: #6ED806;
}

.feedback__form {
	margin-top: 60px;
}

.feedback__form button {
	background-color: #222126;
	color: #fff;
	text-transform: uppercase;
	height: 50px;
}

.feedback__form input {
	height: 50px;
}

.modal .feedback {
	background: #fff;
	padding: 10px;
}

.modal .feedback h2 {
	font-size: 30px;
}

.modal-content {
	border-radius: 0;
	position: relative;
}

.close-modal {
	width: 30px;
	height: 30px;
	background-color: #6ED806;
	position: absolute;
	right: -30px;
	top: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.close-modal i {
	color: #fff;
}

.close-modal:hover {
	cursor: pointer;
}

.btn:hover {
	color: #fff !important;
}

.form-control,
.btn {
	border: 0 !important;
	border-radius: 0 !important;
}

.was-validated .form-control:invalid {
	border: 1px solid #dc3545 !important;
}

.was-validated .form-control:valid {
	border: 1px solid #28a745 !important;
}

footer {
	padding: 15px;
}

footer span,
footer span a {
	font-size: 14px;
}

footer span i {
	color: #dc3545;
	font-size: 12px
}

.hanging-button {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.hanging-button:hover {
	cursor: pointer;
}

/*Preloader*/
#before-load {
	position: fixed;
	left: 0; 
	top: 0;
	right: 0;
	bottom: 0; 
	background: #fff;
	z-index: 9999;
}

#before-load i {
	width: 40px;
	height: 40px;
	color: #6ED806;
	font-size: 40px;
	position: absolute;
	left: calc(50% - 20px);
	top: calc(50% - 20px);
}

@media screen and (max-width: 991px) {
	.contacts__phones a {
	    font-size: 50px;
	}

	.number a {
		font-size: 80px;
	}

	.number a i {
		font-size: 70px;
	}
}

@media screen and (max-width: 767px) {
	.contacts__phones a {
	    font-size: 40px;
	}

	.contacts__phones a i {
		font-size: 34px;
	}

	.number a {
		font-size: 50px;
	}

	.number a i {
		font-size: 42px;
	}
}

@media screen and (max-width: 490px) {
	.contacts__phones a {
	    font-size: 28px;
	}

	.contacts__phones a i {
		font-size: 22px;
	}

	.number a {
		font-size: 36px;
	}

	.number a i {
		font-size: 29px;
	}

	.contacts {
		padding: 15px;
	}

	.contacts__links a {
		color: #fff;
		font-size: 24px;
	}

	footer h2 {
	    font-size: 38px;
	}

	footer span,
	footer span a {
		font-size: 12px;
	}

	footer span i {
		font-size: 10px
	}
}

