* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
	color: #6ED806;
}

header {
	width: 100%;
}

.dark-block {
	width: 100%;
	background-color: #030303;
}

.green-block {
	width: 100%;
	background-color: #6ED806;
}

.green-block .cta-btn {
	background-color: #222126;
}

.green-block.call-to-action {
	padding: 40px 0;
}

.call-to-action .container {
	padding: 0px 60px 0 100px;
}

.container {
	position: relative;
}

.gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, #030303 0%, transparent 5%, transparent 95%, #030303 100%);
}

.contacts {
	padding: 20px 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.contacts__phones a,
.contacts__links a {
	display: block;
	color: #fff;
	font-size: 32px;
}

.contacts__phones a {
	font-weight: 500;
}

.contacts__links a:hover {
	text-decoration: underline;
}

.contacts__links_green {
	color: #6ED806 !important;
}

.contacts__links_green:hover {
	color: #6ED806;
}

.contacts__phones img,
.contacts__links img {
	width: 40px;
	padding-bottom: 5px;
}

.mb-150 {
	margin-bottom: 150px;
}

.number a {
	color: #6ED806;
	font-weight: 500;
	font-size: 96px;
	line-height: 40px;
}

.number img {
	padding-bottom: 20px;
}

.feedback {
	background: linear-gradient(to right, #6ED806,#7BB719);
	padding: 40px 0;
}

.feedback .form-check-label {
	color: #fff;
}

.feedback .form-check-label a {
	color: #222126;
}

.feedback .form-check-label a:hover {
	text-decoration: underline;
}

.feedback h2 {
	font-weight: bold;
	font-size: 56px;
}

.feedback_dark {
	background: #030303;
}

.feedback_dark h2 {
	color: #fff;
}

.feedback_dark .feedback__form button {
	background-color: #6ED806;
}

.feedback__form {
	margin-top: 60px;
}

.feedback__form button {
	background-color: #222126;
	color: #fff;
	text-transform: uppercase;
	height: 50px;
}

.feedback__form input {
	height: 50px;
}

.modal .feedback {
	background: #fff;
	padding: 10px;
}

.modal .feedback h2 {
	font-size: 30px;
}

.modal-content {
	border-radius: 0;
	position: relative;
}

.close-modal {
	width: 50px;
	height: 50px;
	background: linear-gradient(90deg, #8BCB24 0%, #7BB719 100%);
	position: absolute;
	right: -50px;
	top: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.close-modal:hover {
	cursor: pointer;
}

.btn:hover {
	color: #fff !important;
}

.form-control,
.btn {
	border-radius: 0 !important;
}

footer {
	padding: 15px;
}

footer span,
footer span a {
	font-size: 14px;
}

footer span i {
	color: #dc3545;
	font-size: 12px
}

.hanging-button {
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background-color: #6ED806;
	border-radius: 50%;
	box-shadow: 0px 4px 30px rgba(141, 207, 34, 0.4);
	width: 50px;
	height: 50px;
	transition: .3s;
}

.hanging-button:hover {
	cursor: pointer;
	background-color: #7eff00;
}

/*Preloader*/
#before-load {
	position: fixed;
	left: 0; 
	top: 0;
	right: 0;
	bottom: 0; 
	background: #fff;
	z-index: 9999;
}

#before-load i {
	width: 40px;
	height: 40px;
	color: #6ED806;
	font-size: 40px;
	position: absolute;
	left: calc(50% - 20px);
	top: calc(50% - 20px);
}

.btn-send {
	font-weight: 500;
	transition: .3s;
}

.feedback .btn-send:hover,
.green-block .cta-btn:hover {
	background-color: #49484C;
}


.call-to-action h3 {
	color: #fff;
}

.cta-btn {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	background-color: #6ED806;
	color: #fff;
	padding: 0 15px;
	white-space: nowrap;
	transition: .3s;
}

.cta-btn:hover {
	color: #fff;
	background-color: #9FD449;
}

input[type="checkbox"] {
    display:none;            
}
input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 35px;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    position: absolute;
    left: 15px;
}
input[type="checkbox"] + label::before {
    background-image: url('../img/checkbox.png');   
}
input[type="checkbox"]:checked + label::before {
    background-image: url('../img/checkbox-on2.png');
}

.modal input[type="checkbox"]:checked + label::before {
    background-image: url('../img/checkbox-on.png');
}

@media screen and (max-width: 991px) {
	.number a {
		font-size: 80px;
	}

	.number img {
		padding-bottom: 15px;
	}

	.call-to-action .container {
		padding:0 15px;
	}

	.contacts__phones a,
	.contacts__links a {
		font-size: 26px;
	}

	.contacts__phones img,
	.contacts__links img {
		width: 25px;
	}
}

@media screen and (max-width: 767px) {
	.contacts__phones a,
	.contacts__links a {
		font-size: 20px;
	}

	.contacts__phones img,
	.contacts__links img {
		width: 20px;
	}

	.contacts {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.number a {
		font-size: 50px;
	}

	.number img {
		width: 40px;
		padding-bottom: 10px;
	}

	.mb-150 {
		margin-bottom: 50px;
	}

	.close-modal {
		top: -50px;
		right: 0;
	}

	.call-to-action h3 {
		font-size: 18px;
	}

	.cta-btn {
		font-size: 12px;
	}
}

@media screen and (max-width: 490px) {
	.contacts__phones a {
	    font-size: 28px;
	}

	.number a {
		font-size: 36px;
	}

	.number img {
		width: 30px;
		padding-bottom: 8px;
	}

	.contacts {
		padding: 15px;
	}

	.contacts__links a {
		color: #fff;
		font-size: 24px;
	}

	.feedback h2 {
	    font-size: 38px;
	}

	footer span,
	footer span a {
		font-size: 12px;
	}

	footer span i {
		font-size: 10px
	}
}

