@font-face{
font-family: 'Lato';
src: url('../fonts/lato-reg.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Lato';
src: url('../fonts/lato-bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face{
font-family: 'Lato';
src: url('../fonts/lato-900.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}